<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.developer.webapiclient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.developer.webapiclient.activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.developer.webapiclient.activitys.StudentDetail"
            android:label="@string/title_activity_student_detail">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.ClientActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.MainActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.ClienteDetailtActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.MesaActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.DetalleMesaActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.ChefActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.DetalleChefActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.CamareroActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.DetalleCamareroActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.FacturasActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.DetalleFacturaActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.HomeActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.TikectActivity">
        </activity>
        <activity android:name="com.developer.webapiclient.activitys.TikectDetalleFacturaActivity">
        </activity>
    </application>

</manifest>